<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RPG_Paper_Maker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <RPG_Paper_Maker.Properties.Settings>
            <setting name="ToolBarColor" serializeAs="String">
                <value>225, 225, 245</value>
            </setting>
            <setting name="test" serializeAs="String">
                <value>Tile</value>
            </setting>
        </RPG_Paper_Maker.Properties.Settings>
    </userSettings>
</configuration>